<!DOCTYPE html>
<html>

<head>
	<!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">   -->
	<meta name="author" content="Ken Nakatsukasa"> 
	<title> Home page </title>
</head>


<body bgcolor="white">
   <!--  <div class="container">        
    <div class="row">
    <div class="col-lg-12 text-left">    -->  
	
	 <ul>
        <li><a href="/about">About</a></li>
        <li><a href="https://www.heroku.com/">  Heroku  </a></li>
        <li><a target="_blank" href="http://flask.pocoo.org/">  Flask   </a></li>
     </ul>
	
	<div id="menu" align="center" >
         <a href="/about">  About   </a>  | 
		 <a href="https://www.google.com">  Google   </a>  
    </div>
	
	<center>
	
	<div style="color:blue">
	<h1> xxx Header (Home) </h1>
	<h5> xxx <u>Header</u> (Home) </h5>
	</div>
	
	<p> This is <i>paragraph</i>. This is <b>paragraph</b>. </p>
	<img src="/image/table_test.png" alt="fefcedaf" />
	 
	 
	 <hr />  <!--  this is for underline -->
	
	<table border = 1>
            <tr>
               <th> grsgrs </th>
               <td>trsgbrsgb </td>
            </tr> 
			 <tr>
               <th> grsgrs </th>
               <td>trsgbrsgb </td>
            </tr> 
     </table>

	 
	 
	
	</center>
	<!-- </div>
    </div>
    </div>  -->
	
	
</body>
</html>

